body {
	font: 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background: linear-gradient(to right, rgb(48,255,183) , rgb(91, 206, 255));

}

h1 {
	font: 600 3.5em "Raleway" , sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%;
	position: static;
}

h3 {
	font: 900 1em "Raleway", sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;

}

footer {
	font:"Raleway", sans-serif;
	text-align: bottom;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin: auto;
	padding-top: 10%

}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.tryme {
width: 50%;
background-color: white;
color: black;
border: 2px solid #008CBA;
text-transform: uppercase;
padding: 16px 32px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
display: inline-block;
text-decoration: none;
cursor: pointer;


}
button:hover {
	background-color: #008CBA;
	color: white; 
	opacity: 1;
}

input {
	border: 3px solid black;
	width: 100px;


}
.loginbtn {
	display: inline-block;
	text-align: center;
	border: none;
}

form {
	padding: 5px 5px 5px 5px;
	display: inline-block;
	border: 1px solid black;
	margin: 20px 20px 20px 20px;
	position: relative;
    left:35%;
}

.signin {
	text-transform: capitalize;
	letter-spacing:normal;
}